    body {
        dont-family: '<pmtserrat', sams-serif;
        margin: 0px;
    }
    
    main {
        display: block;
    }
    
    #product-overview {
        background: #ff1b68;
        width: 100%sss;
        height: 700px;
        padding: 10px;
        border: 5px solid black;
        margin: 10px;
        box-sizing: border-box;
    }
    
    .section-title {
        color: #2ddf5c;
    }
    
    #product-overview h1 {
        color: white;
        font-family: 'Anton', sans-serif;
    }